[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
backoff = '2.2.1'
django = '4.1.5'
django-ckeditor = '6.5.1'
django-cleanup = '6.0.0'
django-filter = '22.1'
django-solo = '2.0.0'
djangorestframework = '3.14.0'
drf-yasg2 = '1.19.4'
gunicorn = '20.1.0'
Pillow = '9.4.0'
psycopg2-binary = '2.9.5'
sorl-thumbnail = '12.9.0'

[dev-packages]

[requires]
python_version = '3.11'
